html {
  font-family: "DM Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.font-gilroy {
  font-family: "Gilroy", sans-serif;
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.alert-notify {
  z-index: 999;
}
.mobile-nav {
  z-index: 999;
  transform: translateX(-100%);
  -webkit-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mobile-nav-open {
  transform: translateX(0%) !important;
  transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.alert-notification {
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.alert-notification-open {
  transform: translateY(0%) !important;
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: all 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

@media (min-width: 640px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
  .banner-image {
    width: 250px !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .hidden-xl-up {
    display: none !important;
  }
  .dropdown-content {
    right: 15%;
  }
}
.hidden-xl-down {
  display: none !important;
}

/* nav icons tarnsitions */
.bar-1,
.bar-2,
.bar-3 {
  width: 28px;
  height: 2.3px;
  background-color: #00bb79;
  transition: 0.4s;
}
/* Rotate bar-1 */
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 6px);
  transform: rotate(-45deg) translate(-2px, 6px);
}
/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-4px, 8px);
  transform: rotate(45deg) translate(-4px, -8px);
}

.banner-image {
  width: 750px;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fb6340;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
